# Binaries for programs and plugins
*.exe       # Windows
*.exe~      # Windows backup
*.dll       # Windows DLLs
*.so        # Linux shared object
*.dylib     # macOS shared library
*.test      # Test binary
*.out       # Go build output
bin/
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
coverage.out


# Environment variables
.env
.envrc
*.env

# IDE/Editor specific
.idea/
.vscode/
*.swp
*~